<%= erb :adminheader, :locals => locals %>
      <div class="span2" id=sidebar>
        <%= erb :loginmenu, :locals => locals %>
      </div>

      <div class="content span10" id=main>
      <% if locals[:mode] == "edit" && !locals[:user_data] %>
      <div class="alert alert-error">
        <h2>User not found!</h2>
        <p>Please go back and try again.</p>
      </div>
      <% else %>
      <div id="alltags" class="well well-small">
       <ul class="nav nav-list">
       <% if locals[:alltags] %>
         <% locals[:alltags].each do |tag| %>
         <option value="<%= tag %>"><%= tag %></option>
         <% end %>
       <% end %>
       </ul>
      </div>
      <form id="userdata" class="form-horizontal" method="post" action="../save">
        <% if locals[:mode] == "edit" %>
        <legend>Editing <%= locals[:user_data][:username] %></legend>
        <% else %>
        <legend>Adding New User/Group</legend>
        <% end %>
        <div class="control-group">
          <% if locals[:mode] == "new" %>
          <label class="control-label" for="username">User/Group Name</label>
          <div class="controls">
            <input name="username" type="text" class="span4" placeholder="user/group name" />
          </div>
          <% else %>
          <input name="username" type="hidden" value="<%= locals[:user_data][:username] %>" />
          <% end %>
        </div>
        <div class="control-group">
          <input name="mode" type="hidden" value="<%= locals[:mode] %>" />
          <label class="control-label" for="tag">Allowed Tags</label>
          <div class="controls">
            <input id="tag" type="text" class=span4 placeholder="enter a tag..." />
            <!-- <button id="showtags" class="btn btn-small"><i class="icon-chevron-down"></i></button> -->
            <button id="addtag" class="btn"><i class="icon-plus"></i></button>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <select id="usertags" name="usertags[]" multiple="multiple" class="span4">
            <% if locals[:mode] == "edit" && locals[:user_data][:tags] %>
              <% locals[:user_data][:tags].each do |tag| %>
              <option value="<%= tag %>"><%= tag %></option>
              <% end %>
            <% end %>
            </select>
            <br />
            <a id="deltags" href="#"><i class="icon-trash icon-white"></i> Remove Selected</a>
          </div>
          <div class="controls">
            <label class="checkbox">
              <input id="is_admin" name="is_admin" type="checkbox"<% if locals[:mode] == "edit" && locals[:user_data][:is_admin] %> checked<% end %>> Admin</input>
            </label>
          </div>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Save Changes</button>
          <button id="cancel" type="button" class="btn">Cancel</button>
        </div>
      </form>
      <script>
      $(document).ready(function(){
        $('#cancel').click(function() {
          window.location = '../../admin';
        });
        $('#userdata').submit(function() {
          $('#usertags option').attr('selected',true);
        });
        $('#addtag').click(function() {
          var s = $('#tag').val().trim();
          var exists = $("#usertags option[value='"+s+"']").length !== 0;

          if (s != "" && !exists) {
            //$('#usertags').append('<option value="'+s+'">'+s+'</option>');
            $('#usertags').append(new Option(s,s,false,false));
          }
          $('#tag').val("");
          return false;
        });
        $('#showtags').click(function() {
          var pos = $('#tag').offset();
          pos.top += $('#tag').width();
          $('#alltags').fadeIn(100);
          $('#alltags').css({position:"absolute",top:0,left:0,width:"100px"}).position({
             my: "right top",
             at: "right bottom",
             of: "#showtags",
             offset: "1 -1",
             collision: "none"
          }).fadeIn(200);
          return false;
        });
        $('#alltags ul li a').click(function() {
          $('#tag').val($(this).text());
          $('#alltags').fadeOut(200);
          return false;
        });
        $('#deltags').click(function() {
          $('#usertags :selected').remove();
          return false;
        });
        $(document).mouseup(function(e) {
          // hide the tags list if clicked outside
          var container = $("#alltags");
          if (container.has(e.target).length === 0) {
            container.hide();
          }
        });
      });
      </script>
      <% end %>
      </div>
<%= erb :footer, :locals => locals %>
