<%= erb :adminheader, :locals => locals %>
      <div class="span2" id=sidebar>
        <%= erb :loginmenu, :locals => locals %>
      </div>

      <div class="content span10" id=main>
       <table class="table table-striped table-hover">
       <thead>
        <tr>
         <th width="200px">Username</th>
         <th width="100px">Is Admin?</th>
         <th>Permitted Tags</th>
        </tr>
       </thead>
       <tbody>
       <% for user in locals[:users] %>
        <tr>
         <td><a href="/auth/admin/<%= user[:username] %>"><i class="icon-edit"></i> <%= user[:username] %></a></td>
         <td><label class="checkbox"><input type="checkbox" <% if user[:is_admin] %>checked<% end %> disabled></label></td>
         <td><% if user[:tags] %><%= user[:tags].join(", ") %><% else %>(no tags assigned)<% end %></td>
        </tr>
       </tbody>
       <% end %>
       </table>
      </div>
<%= erb :footer, :locals => locals %>
